<p><%= @random_user.name %></p>
<p><%= @random_user.description %></p>
<ul>
  <% @random_user.languages.each do |lang| %>
    <p> <%= lang.name %></p>
  <% end %>
</ul>
<%= button_to "Approve", "/match/#{@random_user.id}/up" %>
<%= button_to "Reject", "/match/#{@random_user.id}/down" %>

