<!DOCTYPE html>
<html>
  <head>
    <title>Pairr</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <%= render  'partials/navbar' %>
      </div>
      <div class="center-align  blue lighten-3">
        <% flash.each do |name, msg| %>
          <h2><%= content_tag :div, msg, class: "alert alert-#{name} text-center" %></h2>
        <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
